:root {
  --sl-color-accent-low: #102f50;
  --sl-color-accent: #70baff;
  --sl-color-accent-high: #d8edff;
  --sl-content-width: 60rem;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #dceeff;
  --sl-color-accent: #07539e;
  --sl-color-accent-high: #082d52;
}

.sl-markdown-content p {
  max-width: 84ch;
}

.sl-markdown-content img {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
}

.sl-markdown-content :not(pre) > code {
  overflow-wrap: anywhere;
}
